<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="shortcut icon" href="/projeto/public/img/image_favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/{{style}}">
    <!--biblioteca do bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>

<nav id ="navbar">
    <a href="/" id ="logo">
    <img src="/img/logo.png" alt="logo">
    </a>
    
    <ul>
        <li><a href="/">Livraria</a></li>
        <!-- URLS apos cadastro-->
        <li><a href="/login">Entrar</a></li>
        <li><a href="/cadastrar">Cadastrar</a></li>
    </ul>

</nav>
    <div class="container">
     <!-- messagem para aparecer no sistema-->   
    {{{body}}}

    </div>
    
    <footer>
        <p><span>Feito por marcos</span> &copy;2024</p>
    </footer>
</body>
</html>

<!--caso nao funcione a entrada para o css usar esse <link rel="stylesheet" href="/projeto/public/css/style.css">