<div class="biblioteca-form-container">

    <a href="/biblioteca/dashboard">Voltar</a>

    <h1>ADICIONAR LIVRO</h1>

    <form action= "/biblioteca/add" method="post">
    
    <div class="form-control">
    <label for="title">Título do seu livro:</label>
    <input type="text" name="title" placeholder="DIGITE O NOME DO LIVRO QUE VAI CADASTRAR... ">
    
    </div>
   
    <input type="submit" value="Adicionar">
   

    </form>

</div>